:root {
  $paradise-pink: #ee4266ff;
  $blue-jeans: #5da9e9ff;
  $dark-cornflower-blue: #003f91ff;
  $white: #ffffffff;
  $orange-yellow-crayola: #fed766ff;
}

* {
  color: white;
  background-color: var(--blue-jeans);
}
